.Page {
    display: flex;
    flex-direction: row;
}

.ToolsWrapper {
    height: 35px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: solid 1px var(--border-color);
}

.Content {
    height: 100%;
    width: calc(100% - 35px);
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.RoutesWrapper {
    flex: 1;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    min-width: 0; 
}

.SelectedIcon::after {
    content: "";
    display: inline-block;
    width: 2px;
    height: 25px;
    background-color: var(--accent-color);
    position: absolute;
    right: 0;
}