html[data-theme='light'] {
    --panel-color: rgb(240, 240, 240);
    --selected-panel-color: rgb(225, 225, 225);

    --background-color: white; 

    --header-color: white;
    --selected-header-color: rgb(232, 232, 232);

    --text-color: black;
    --unactive-text-color: #3d3d3d;

    --icon-color: #1f1f1f;
    --unactive-icon-color: #272727;

    --titlebar-icon-color: #1e1e1e;
    --titlebar-icon-hover-background-color: #d7d7d7;
    --titlebar-icon-quit-hover-background-color: rgb(181, 0, 0);

    --canvas-background-color: #f5f5f5;
}