.Card {
    width: 100%;
    height: 150px;
    background-color: var(--panel-color);
    color: var(--text-color);
    border: solid 1px var(--border-color);
    display: flex;
    flex-direction: row;
    gap: 10px;
    padding: 11px;
}

.Image {
    height: 125px;
    width: 150px;
    background-color: var(--background-color);
}

.ImageWrapper {
    cursor: pointer;
}

.Content {
    flex-grow: 1;
    min-width: 0;
}

.Content>div {
    width: 100%;
}

.Tag {
    border: solid 1px var(--border-color);
    background-color: var(--background-color);
    padding: 0 5px;
    border-radius: 10px;
}

.Name {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    min-width: 0;
    max-width: 100%;
    word-break: break-all;
    cursor: pointer;
}

.Description {
    min-height: 0;
    max-height: 79px;
    overflow-y: auto;
}

.Description::-webkit-scrollbar {
    width: 3px;
}

.Description::-webkit-scrollbar-thumb {
    background-color: var(--border-color);
    border-radius: 5px;
}

.CardTop {
    width: 100%;
    display: flex;
    flex-direction: row;
    gap: 5px;
}

.CardTop h4 {
    flex-grow: 1;
    display: block;
}

.MoreOptionsButton {
    height: 20px;
    width: 20px;
    color: var(--unactive-text);
}

.MoreMenuWrapper {
    width: fit-content;
    min-width: 0;
    flex-shrink: 0;
    position: relative;
    z-index: 0;
}

.MoreMenuButton {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    border: 0;
    cursor: pointer;
}

.MoreMenu {
    position: absolute;
    right: 5px;
    top: 22px;
    width: 150px;
    background-color: var(--panel-color);
    border: solid 1px var(--border-color);
    border-radius: 5px;
    padding: 5px;
    z-index: 9999;
    display: flex;
    flex-direction: column;
    gap: 3px;
    overflow-y: unset;
}

.MoreMenu button {
    color: var(--text-color);
    text-align: left;
    outline: 0;
    border: 0;
    padding: 2px 5px;
    width: fit-content;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
    background-color: var(--panel-color);
    width: 100%;
}

.MoreMenu button:hover {
    background-color: var(--background-color);
}