.BaseButton {
    padding: 0 10px;
    min-width: 100px;
    min-height: 25px;
    font-size: 0.9rem;
    user-select: none;
}

.ContentWrapper {
    display: flex;
    justify-content: center;
}

.IconWrapper {
    display: flex;
    justify-items: center;
    align-items: center;
    height: 1.2rem;
    gap: 5px;
    margin-right: 5px;
    transition: color 0.2s ease-in-out !important;
}