.TextInput {
    position: relative;
    height: fit-content;
    border-bottom: solid 2px var(--border-color);
    background-color: var(--panel-color);
    outline: none;
    min-height: 40px;
    font-size: 1rem;
    box-sizing: border-box;
    display: flex;
    align-items: end;
    padding-bottom: 3px;
}

.Input {
    color: var(--text-color);
    border: 0;
    outline: 0;
    width: 100%;
    background-color: var(--panel-color);
}

.Input:-webkit-autofill,
.Inputput:-webkit-autofill:hover, 
.Input:-webkit-autofill:focus, 
.Input:-webkit-autofill:active{
    -webkit-box-shadow: 0 0 0 30px var(--panel-color) inset !important;
    -webkit-text-fill-color: var(--text-color) !important;
    background-color: var(--panel-color);
    color: var(--text-color);
    transition: none;
}

.Label {
    display: block;
    width: fit-content;
    position: absolute;
    background-color: var(--panel-color);
    top: 0;
    font-size: 0.8rem;
    color: var(--border-color);
    user-select: none;
}

.Wrong {
    color: red !important;
    border-color: red !important;
}

.Wrong > input::placeholder {
    color: red !important;
}

.WrongMessage {
    font-size: 0.8rem;
    transition: all 0.2s ease-in-out;
    padding-left: 5px;
    position: absolute;
    bottom: -1.2rem;
    user-select: none;
}

.RightIconWrapper {
    height: 1.2rem;
    transition: color 0.2s ease-in-out;
    color: var(--border-color);
    display: flex;
    align-items: center;
    margin-right: 5px;
}

.RightIconWrapper * {
    width: 100%;
    height: 100%;
}