.Top {
    display: flex;
    flex-direction: row;
    gap: 5px;
    align-items: center;
}

.Value {
    flex-grow: 1;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    min-width: 0;
    max-width: 100%;
    word-break: break-all;
}