.Content {
    width: 620px;
    height: 320px;
}

.ContentWrapper {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.InputContainer {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: start;
    gap: 10px;
}

.TextArea {
    resize: none;
    height: 180px;
}

.Image {
    width: 320px;
    height: 240px;
}

.ImageButtonsContainer {
    padding-top: 10px;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.ButtonContainer {
    padding-top: 10px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: end;
    gap: 10px; 
}